<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	
	<!-- MVC controller Mapping -->
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>mvc.controller.MvcController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>mvc.controller.TestController</servlet-class>
	</servlet>
	<!-- 
	주소의 끝자리가 .do일 경우 servlet-name에 맞는 servlet 호출
	-->
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>*.do</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>*.nhn</url-pattern> 
	</servlet-mapping>
</web-app>